<title>Admin Panel</title>
<div class="container">
    <h1 class="text-center title-Acme">Admin Panel</h1>
    <div class="admin-view row">
        <div class="inner-view col-md-4 bg-success">
            Total Videos

            <div class="inner-admim">
                <h1>{{video}}</h1>
            </div>
        </div>
        <div class="inner-view col-md-4 bg-info">
            Total Categories

            <div class="inner-admim">
                <h1>{{category}}</h1>
            </div>
        </div>
        <div class="inner-view col-md-4 bg-danger">
            Total Users
            <div class="inner-admim">
                <h1>{{user}}</h1>
            </div>
        </div>
    </div>
    <h1 class="text-center title-Acme">Analytics</h1>
    <div class="admin-view row">
        <div class="inner-view col-md-4">
            Total Views

            <div class="inner-admim">
                <h1>100</h1>
            </div>
        </div>
        <div class="inner-view col-md-4">
            Views 24h

            <div class="inner-admim">
                <h1>100</h1>
            </div>
        </div>
        <div class="inner-view col-md-4">
            User Today
            <div class="inner-admim">
                <h1>100</h1>
            </div>
        </div>
    </div>
</div>