<div class="container">
    <h2 class="text-center m-3 title-Acme">Update Category</h2>
    <form class="new-category" action="/admin/edit-category/{{data._id}}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
           <input type="text" class="form-control" name="name" placeholder="Enter New Category Name" required value="{{data.name}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>