<title>Create New Category</title>
<div class="container">
    {{#if message}}
    <div class="alert alert-success mb-3 mt-3" role="alert">
        {{message}}
    </div>
    {{/if}}
    <h2 class="text-center m-3">Create New Category</h2>
    <form class="new-category" action="/admin/create-category" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="newName" placeholder="Enter New Category Name" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>